#progressBackground {
  fill: none;
  stroke: #e5e7eb;
  stroke-width: 12;
}
#progressBar {
  fill: none;
  stroke: #000000;
  stroke-width: 12;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease;
}
#percentage {
  font-size: 45px;
  text-align: center;
  font-family: 'Nunito';
  transform: translateY(-66px);
}
#wordcount {
  font-size: 15px;
  text-align: center;
  font-family: 'Nunito';
}
body {
  min-width: 300px;
  min-height: 200px;
}
button {
  font-family: 'Nunito';
  color: #ffffff;
  background-color: #000000;
  border-radius: 6px;
  border: none;
}
.stats {
  display: flex;
  align-items: baseline;
  margin: 2px; 
  text-align: center;
}
p {
  font-family: 'Nunito';
}
#type {
  text-align: center;
  color: #000000;
}